<h2>Loggeate perro</h2>
<form action="/login" method="POST">
  <p>
    <label for="email">Escribe tu nombre de usuario</label>
    <input type="email" name="email" id="email">
  </p>
  <p>
    <label for="password">Escribe una contrseña super segura</label>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="Login">
</form>
