<h2>Registrate puto</h2>
<form action="/signup" method="POST">
  <p>
    <label for="email">Exribe tu nombre de usuario</label>
    <input type="email" name="email" id="email">
  </p>
  <p>
    <label for="password">Escribe una contrseña super segura</label>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="signup">
</form>